Project5/Connected Services/JaredService/SmartHomeServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SmartHomeServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page0/SmartHomeServices.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page0/SmartHomeServices.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISmartHomeServices_findNearestStore_InputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStore" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_findNearestStore_OutputMessage">
    <wsdl:part name="parameters" element="tns:findNearestStoreResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_crimedata_InputMessage">
    <wsdl:part name="parameters" element="tns:crimedata" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_crimedata_OutputMessage">
    <wsdl:part name="parameters" element="tns:crimedataResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_addItemToGroceryList_InputMessage">
    <wsdl:part name="parameters" element="tns:addItemToGroceryList" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_addItemToGroceryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:addItemToGroceryListResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_getGroceryList_InputMessage">
    <wsdl:part name="parameters" element="tns:getGroceryList" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_getGroceryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getGroceryListResponse" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_clearGroceryList_InputMessage">
    <wsdl:part name="parameters" element="tns:clearGroceryList" />
  </wsdl:message>
  <wsdl:message name="ISmartHomeServices_clearGroceryList_OutputMessage">
    <wsdl:part name="parameters" element="tns:clearGroceryListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISmartHomeServices">
    <wsdl:operation name="findNearestStore">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeServices/findNearestStore" message="tns:ISmartHomeServices_findNearestStore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeServices/findNearestStoreResponse" message="tns:ISmartHomeServices_findNearestStore_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="crimedata">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeServices/crimedata" message="tns:ISmartHomeServices_crimedata_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeServices/crimedataResponse" message="tns:ISmartHomeServices_crimedata_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addItemToGroceryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeServices/addItemToGroceryList" message="tns:ISmartHomeServices_addItemToGroceryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeServices/addItemToGroceryListResponse" message="tns:ISmartHomeServices_addItemToGroceryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getGroceryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeServices/getGroceryList" message="tns:ISmartHomeServices_getGroceryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeServices/getGroceryListResponse" message="tns:ISmartHomeServices_getGroceryList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="clearGroceryList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISmartHomeServices/clearGroceryList" message="tns:ISmartHomeServices_clearGroceryList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISmartHomeServices/clearGroceryListResponse" message="tns:ISmartHomeServices_clearGroceryList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISmartHomeServices" type="tns:ISmartHomeServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findNearestStore">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeServices/findNearestStore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crimedata">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeServices/crimedata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItemToGroceryList">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeServices/addItemToGroceryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getGroceryList">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeServices/getGroceryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clearGroceryList">
      <soap:operation soapAction="http://tempuri.org/ISmartHomeServices/clearGroceryList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SmartHomeServices">
    <wsdl:port name="BasicHttpBinding_ISmartHomeServices" binding="tns:BasicHttpBinding_ISmartHomeServices">
      <soap:address location="http://webstrar57.fulton.asu.edu/Page0/SmartHomeServices.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>