Project5/Connected Services/DanielServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page3/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page3/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page3/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_StockQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:StockQuote" />
  </wsdl:message>
  <wsdl:message name="IService1_StockQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:StockQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_StockEvaluator_InputMessage">
    <wsdl:part name="parameters" element="tns:StockEvaluator" />
  </wsdl:message>
  <wsdl:message name="IService1_StockEvaluator_OutputMessage">
    <wsdl:part name="parameters" element="tns:StockEvaluatorResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_InputMessage">
    <wsdl:part name="parameters" element="tns:Weather5day" />
  </wsdl:message>
  <wsdl:message name="IService1_Weather5day_OutputMessage">
    <wsdl:part name="parameters" element="tns:Weather5dayResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NaturalHazards_InputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazards" />
  </wsdl:message>
  <wsdl:message name="IService1_NaturalHazards_OutputMessage">
    <wsdl:part name="parameters" element="tns:NaturalHazardsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMovieScore_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieScore" />
  </wsdl:message>
  <wsdl:message name="IService1_GetMovieScore_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMovieScoreResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="StockQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StockQuote" message="tns:IService1_StockQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StockQuoteResponse" message="tns:IService1_StockQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="StockEvaluator">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/StockEvaluator" message="tns:IService1_StockEvaluator_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/StockEvaluatorResponse" message="tns:IService1_StockEvaluator_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Weather5day" message="tns:IService1_Weather5day_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/Weather5dayResponse" message="tns:IService1_Weather5day_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NaturalHazards">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NaturalHazards" message="tns:IService1_NaturalHazards_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NaturalHazardsResponse" message="tns:IService1_NaturalHazards_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMovieScore">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetMovieScore" message="tns:IService1_GetMovieScore_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetMovieScoreResponse" message="tns:IService1_GetMovieScore_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StockQuote">
      <soap:operation soapAction="http://tempuri.org/IService1/StockQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="StockEvaluator">
      <soap:operation soapAction="http://tempuri.org/IService1/StockEvaluator" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Weather5day">
      <soap:operation soapAction="http://tempuri.org/IService1/Weather5day" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NaturalHazards">
      <soap:operation soapAction="http://tempuri.org/IService1/NaturalHazards" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMovieScore">
      <soap:operation soapAction="http://tempuri.org/IService1/GetMovieScore" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://webstrar57.fulton.asu.edu/Page3/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>