Project5/Connected Services/VanessaService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page7/Service2.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://webstrar57.fulton.asu.edu/Page7/Service2.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService2_YTurls_InputMessage">
    <wsdl:part name="parameters" element="tns:YTurls" />
  </wsdl:message>
  <wsdl:message name="IService2_YTurls_OutputMessage">
    <wsdl:part name="parameters" element="tns:YTurlsResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_YTdescription_InputMessage">
    <wsdl:part name="parameters" element="tns:YTdescription" />
  </wsdl:message>
  <wsdl:message name="IService2_YTdescription_OutputMessage">
    <wsdl:part name="parameters" element="tns:YTdescriptionResponse" />
  </wsdl:message>
  <wsdl:message name="IService2_YTtitle_InputMessage">
    <wsdl:part name="parameters" element="tns:YTtitle" />
  </wsdl:message>
  <wsdl:message name="IService2_YTtitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:YTtitleResponse" />
  </wsdl:message>
  <wsdl:portType name="IService2">
    <wsdl:operation name="YTurls">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/YTurls" message="tns:IService2_YTurls_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/YTurlsResponse" message="tns:IService2_YTurls_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YTdescription">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/YTdescription" message="tns:IService2_YTdescription_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/YTdescriptionResponse" message="tns:IService2_YTdescription_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="YTtitle">
      <wsdl:input wsaw:Action="http://tempuri.org/IService2/YTtitle" message="tns:IService2_YTtitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService2/YTtitleResponse" message="tns:IService2_YTtitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService2" type="tns:IService2">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="YTurls">
      <soap:operation soapAction="http://tempuri.org/IService2/YTurls" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YTdescription">
      <soap:operation soapAction="http://tempuri.org/IService2/YTdescription" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="YTtitle">
      <soap:operation soapAction="http://tempuri.org/IService2/YTtitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService2" binding="tns:BasicHttpBinding_IService2">
      <soap:address location="http://webstrar57.fulton.asu.edu/Page7/Service2.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>